body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

.app-container {
  display: flex;
  height: 100vh;
}

.main-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}
